/*подключаю гугл шрифты
font-family: 'Belanosima', sans-serif; для заголовков
font-family: 'Manrope', sans-serif; для текста*/ 
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Manrope&display=swap');
*{
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Manrope', 'Times New Roman', sans-serif;
}
html {
    scroll-behavior: smooth; /*для плавного передвижения скролла*/
  }
:root{
	/*для ввода используемых в дальнейшем переменных*/ 
}
/*убираю сразу цвет всех ссылок*/
a, a:hover, a:active, a:visited{
	text-decoration: none;
	color: black;
}
/*ставлю границы для всех блоков, чтобы все6 было видно*/
header, main, footer{
    border: 1px solid black;
}
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }