/*подключаю гугл шрифты
font-family: 'Belanosima', sans-serif; для заголовков
font-family: 'Manrope', sans-serif; для текста*/ 
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Manrope&display=swap');
*{
	text-decoration: none;
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth; /*для плавного передвижения скролла*/
  }
:root{
	/*для ввода используемых в дальнейшем переменных*/ 
    --color-text: #14302d;
    --color-text-hover: #10e5cd;
}
/*убираю сразу цвет всех ссылок*/
a, a:hover, a:active, a:visited{
	text-decoration: none;
	color: black;
}
/*ставлю границы для всех блоков, чтобы все6 было видно*/
header, main, footer{
    border: 1px solid black;
}
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  .nav-list a{ /*Отступы добавляем ссылкам, а не элементам списка. 
    Это позволяет увеличить площадь, по которой можно кликнуть, 
    чтобы перейти по ссылке, и улучшает удобство пользования приложением. важное замечание!*/
    padding: 0 20px;
    line-height: 50px;
    color: whitesmoke;
    font-size: 1.5rem;
  }
@keyframes border-bott{
    0% {
        border-bottom: none;
    }
    100%{
        border-bottom: 2px solid var(--color-text-hover); 
    }
}
  .nav-list a:hover{
    color: var(--color-text-hover);
    transition: color 300ms;
  /*  border-bottom: 2px solid var(--color-text-hover);*/
    animation-name: border-bott;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
.main-container{
    display: flex;
    flex-wrap: wrap;
}
.section{
    width: 50%;
}
/*медиазапрос для определенной ширины экрана*/
@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  /*стилизация шрифтов*/
body{
    font-family: 'Manrope', 'Times New Roman', sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    color: var(--color-text);
}
.section-title{
    font-family: 'Belanosima', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-align: center;
}
#name {
    font-size: 3rem;
    line-height: 3rem;
}
#profile img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
footer img{
    width: 80px;
    height: 80px;
}
footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section{
    border: 1px solid black;
    padding: 20px 10px 20px 20px;
}
span{
    font-weight: bold;
}
#profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
header, footer{
    background: rgb(186,174,238);
    background: radial-gradient(circle, rgba(186,174,238,1) 0%, rgba(148,198,233,1) 100%);
    font-weight: bold;
    color: whitesmoke;
}
footer .container a{
    color: whitesmoke;
}